html{
background-color: aliceblue;
font-size: 1.1rem;
}

.wrapper{
max-width: 600px;
margin: 0 auto;
}

.heading{
font-size: 2rem;
line-height: 1;
letter-spacing: 50px;
}

.copy{
font-size: 1rem;
word-spacing: 10px;
}

.helper-text{
font-size: .8rem;
}